body {
    background-color: #eee;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0 0;
}

.review-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.review-link li {
    list-style-type: none;
    margin-left: 20px;
}

.review-link a {
    text-decoration: none;
}

/* メニューボタンとタイトルロゴ */
.logo-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ハンバーガーメニュー */
.burger {
    position: relative;
    background: #005fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #666;
    z-index: 9999;
}

.burger span {
    display: inline-block;
    position: absolute;
    left: 10px;
    height: 2px;
    border-radius: 2px;
    background: #fff;
}

.burger span:nth-of-type(1) {
    top: 15px;
    width: 30%;
}

.burger span:nth-of-type(2) {
    top: 23px;
    width: 60%;
}

.burger span:nth-of-type(3) {
    top: 31px;
    width: 20%;
}

.logo a {
    margin-left: 20px;
    color: #005fff;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}

.main-board {
    width: 80%;
    height: 100%;
    margin: 50px auto;
}

/* Main board */
.shop-info {
    border-bottom: 2px solid #666;
}

.csv-file, .image-file {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
}

.error-message {
    color: #f00;
}

.upload-area input[type=file] {
    display: none;
}

.upload-area label {
/*    border: 1px solid #f33;
    border-radius: 5px;
*/
    color: #005fff;
    padding: 5px 10px;
    cursor: pointer;
}

.upload-area p {
    margin-left: 10px;
}

.submit-button {
    margin: 40px 0;
}

.submit-button button {
    background-color: #005fff;
    color: #fff;
    border: 1px solid #005fff;
    border-radius: 5px;
    cursor: pointer;
}

.shop-user {
    margin-top: 40px;
}


.input-form th {
    text-align: left;
}