body {
    background-color: #eee;
}

.main-board {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.shop-detail {
    width: 45%;
    background-color: #eee;
    border: none;
}

.booking-form {
    width: 45%;
    margin: 80px auto;
    position: relative;
    background-color: #005fff;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    box-shadow: 2px 0 4px #666;
}

/* メニューボタンとタイトルロゴ */
.header__wrapper-title {
    display: flex;
    align-items: center;
}

/* ハンバーガーメニュー */
.burger {
    position: relative;
    background: #005fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #666;
    z-index: 9999;
}

.burger span {
    display: inline-block;
    position: absolute;
    left: 10px;
    height: 2px;
    border-radius: 2px;
    background: #fff;
}

.burger span:nth-of-type(1) {
    top: 15px;
    width: 30%;
}

.burger span:nth-of-type(2) {
    top: 23px;
    width: 60%;
}

.burger span:nth-of-type(3) {
    top: 31px;
    width: 20%;
}

.burger.is-active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-135deg);
    width: 30%;
}

.burger.is-active span:nth-of-type(2) {
    opacity: 0;
}

.burger.burger.is-active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(135deg);
    width: 30%;
}

.logo a {
    margin-left: 20px;
    color: #005fff;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}

.menu {
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: -50px;
    width: 105%;
    height: 100vh;
    background-color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #005fff;
}

.menu ul {
    position: absolute;
    z-index: 999;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu li {
    list-style: none;
    margin: 0 0 20px;
}

.menu a {
    text-decoration: none;
}

.menu.is-active {
    opacity: 1;
    z-index: 999;
}

/* 店舗詳細 */
.shop-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.back-btn {
    padding: 3px 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #666;
}

.back-btn a {
    text-decoration: none;
    color: #000;
}

.shop-name p {
    font-size: 26px;
    font-weight: bold;
    margin: 0 0 0 10px;
    padding: 10px 0;
}

.shop-card {
    width: 100%;
    background-color: #eee;
    margin: 10px 0 50px;
}

.shop-image img {
    width: 100%;
}

.area-tag {
    display: inline-block;
    font-size: 16px;
}

.genre-tag {
    display: inline-block;
    font-size: 16px;
}

.introduction {
    width: 100%;
}

.introduction p {
    margin-top: 5px;
    font-size: 18px;
}

/* 店舗評価 */

.all-review {
    border-bottom: 2px solid #666;
    margin-bottom: 10px;
}

.all-review button {
    width: 100%;
    margin-bottom: 50px;
    background-color: #005fff;
    color: #fff;
    padding: 3px 30px;
    border: #005fff;
    cursor: pointer;
}

.edit-link {
    display: flex;
    justify-content: flex-end;
}

.edit-link button {
    margin: 0 0 0 10px;
    border: none;
    border-bottom: 1px solid #666;
    cursor: pointer;
}

.my-review {
    margin-bottom: 50px;
    border-bottom: 2px solid #666;
}

.rating p {
    margin: 10px 0;
}

.star5_rating {
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCC;
    font-size: 30px;
}

.star5_rating:before, .star5_rating:after {
    content: '★★★★★';
}

.star5_rating:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #005fff;
}

.star5_rating[data-rate="5"]:after {
    width: 100%;
}

.star5_rating[data-rate="4"]:after {
    width: 80%;
}

.star5_rating[data-rate="3"]:after {
    width: 60%;
}

.star5_rating[data-rate="2"]:after {
    width: 40%;
}

.star5_rating[data-rate="1"]:after {
    width: 20%;
}

.star5_rating[data-rate="0"]:after {
    width: 0%;
}


/* 予約フォーム */
.title p {
    margin: 0;
    padding: 10px 20px 10px 0;
    font-size: 20px;
}

.error-message {
    color:#ff0000;
}

.input-form select {
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

.input__date input {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

.confirm-window {
    background-color: #2C7CFF;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
}

.description {
    width: 60%;
    border-collapse: separate;
    border-spacing: 0 10px;
    font-size: 14px;
}

.description th {
    text-align: left;
}

.submit-btn {
    position: absolute;
    left: 0;
    bottom: -32px;
    background-color: #0000ff;
    width: 100%;
    text-align: center;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 4px #666;
}

.submit-btn button {
    background-color: #0000ff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

/* レスポンシブデザイン */
@media screen and (max-width: 600px) {
    .main-board {
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-between;
    }

    .shop-detail {
        width: 100%;
        background-color: #eee;
        border: none;
    }

    .booking-form {
        width: 100%;
    }


}